

body {
  background-color:#282c34
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color:#282c34
 
}

.App-spin {
  height: 50vmin;
  pointer-events: none;
}
